<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="UPartyPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>evento.Tipo</class>
    <class>evento.Patrocinador</class>
    <class>evento.Pago</class>
    <class>evento.Especializacion</class>
    <class>evento.Empresa</class>
    <class>evento.Lugar</class>
    <class>evento.Resenya</class>
    <class>evento.Asistente</class>
    <class>evento.Direccion</class>
    <class>evento.Usuario</class>
    <class>evento.Contacto</class>
    <class>evento.Evento</class>
    <class>evento.Mensaje</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/uparty?zeroDateTimeBehavior=convertToNull"/>
      <property name="javax.persistence.jdbc.user" value="root"/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.password" value=""/>
    </properties>
  </persistence-unit>
</persistence>
